「データベース」
1.日付
2.金額
3.カードor現金
4.ポイント(リワード)
5.内容(ガソリン、タイヤ、食料、etc)

frontend 
・js or ts(react?)

backend
・python(django?)
・データベースはexcel形式(google sheets)

main function
1.新規登録(データベースの内容を記入)
2.データベースに保存
3.月毎や年毎のデータがグラフや図などで視覚化
4.データベースの修正
5.できれば画像で文字認識できるのが理想
6.家計簿がメイン
